#root {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.text-primary {
  color: #004aad;
}

.bg-primary {
  background-color: #004aad;
  color: white;
}


.border-primary {
  border-color: #004aad;
}